venv/
env/
ENV/
bin/
lib/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

**/__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/
*.iml
*.iws
*.swp

.env
.venv
env.ini
.env.test

.DS_Store
Thumbs.db

*.sqlite3
*.db
